// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
--ion-color-primary: #00FF00;
--ion-color-secondary: #87CEEB;
--ion-color-tertiary: #FF6F61;
--ion-color-background: #F5F5F5;
--ion-color-text: #2F4F4F;
}